.app-item-container {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  width: 28%;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}
.app-image {
  padding-top: 20px;
  height: 70px;
  width: 50px;
}
